@font-face {
  font-family: "Univers";
  src: url("fonts/UniversCondensedRegular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
}

body {
  font-family: Roboto;
  background-color: #e7f1e7;

}

h1, h2, h3, h4, h5, h6 {
  font-family: Univers;
  font-weight: bold;

}

p {
  font-family: Roboto;

}

.card-img-top {
  width: 90%;
  margin: 16px;
}

.card {
  background: #f1f0eb !important;
}

.navbar-custom {
  font-family: Univers !important;
  background: #78648b !important;
}

.btn-primary{
  background-color: #eb8599 !important;
  border-color: #eb8599 !important;
}

